body {
    color: rgb(18, 22, 22);
    background: rgb(34, 172, 165);
    margin: 0px;
    font-family:"font family selected", sans-serif;
    marcin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(4, 5, 5);
    padding: 20px;
    font-size: 32px;
    color: rgba(5, 5, 5, 0.968);
    
} 
.chamada {
    background: rgb(34, 172, 165);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {

}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-vídeos {
    display:flex;
    overflow:auto;
    gap: 10px;
}
.categoria {
    padding:20px;
    padding-right:20px;
    marcin-top: 50px;
}
.categoria-vídeos img{
opacity: 0.5;
height: 200px;
} 
.categoria-vídeos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(211, 110, 211);
}

.categoria h2{
    color:rgb(179, 113, 241);
}
